{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        At {{ site.title }} we're keen to receive your submissions, any we're
        already looking forward to reviewing the talks. Don't be afraid to submit
        multiple talks as we may find something appealing that you think is a
        weaker submission.
    </p>
    <p>
        We would like to allow all of our speakers the opportunity to enjoy the
        event, and so we're going to try to limit each speaker to only one talk,
        however, never say never! If a speaker submits two talks that make it
        impossible to choose, we may select both.
    </p>
    <p>
        We're also really interested in non-PHP technologies with a PHP slant
        this year, and personal stories always go down well. For example:
    </p>
    <ul>
        <li>Go/Swift/Rust/Kotlin/$language for the PHP Developer</li>
        <li>How We Saved Christmas With Scala</li>
        <li>Why we switched to $javascript_framework</li>
        <li>When PHP Wasn't the Answer</li>
    </ul>
    <p>Of course, we're also interested in the typical PHP talks, so don't be afraid
    to submit those style abstracts too.</p>
</div>
{% endblock %}

