{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} is not limited to just PHP-related talks. There will be
        sessions covering a wide range of topics supporting PHP developers and DevOps
        as well, and we encourage you to "think outside the box" to come up with your
        own unique topics.
    </p>
    <p>
        Neither are we focused on any particular niche and thus welcome submissions from
        all categories of PHP development and supporting technologies. If you are working
        with native PHP, WordPress, Symfony, Zend, Drupal, or any of the many frameworks
        available, you could have a great subject to share.
    </p>
    <p>
        <strong>It is advisable to submit a few talk ideas, not just one.</strong>
        By submitting a single talk you may lessen your chances of being selected.  If you
        believe your talk could work as both a lightning (20 minute) talk and a 50 minute
        talk then please create two independent submissions with the different times.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Artificial Intelligence</li>
        <li>Virtualization and environments</li>
        <li>Alternate PHP run-times</li>
        <li>PHP internals</li>
        <li>Development principles</li>
        <li>WordPress plugin development</li>
        <li>Security</li>
        <li>Common Packages Related Talks (e.g. Wordpress or Drupal)</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>Version control</li>
        <li>PHP 7</li>
        <li>User Experience/Usability</li>
        <li>Building APIs</li>
        <li>Community and Open Source</li>
        <li>Continuous Integration</li>
        <li>Framework-related topics</li>
        <li>Professional development</li>
    </ul>
</div>
{% endblock %}
