{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">{{ site.title }} Speaker Information</h2>
    <p>
        We are committed to bringing together some of the best speakers from all around the
        world to share their knowledge with you. We provide a speaker package to all selected
        speakers to help make this possible.
    </p>
    <h4 class="headline--alpha">About the event</h4>
    <p>
        Speakers will be provided with a projector, a wireless lapel microphone and a screen
        for their presentation (size depends on the room). Speakers should bring any equipment
        they need to connect to projectors (VGA). It is also suggested that you reduce your
        dependency on the in-house internet connection as much as possible.
    </p>
    <p>
        When the Call for Papers closes, the organizers will sort through the submissions, making
        their selections. Speakers will be notified as soon as the selection process has been completed.
    </p>
    <h4 class="headline--alpha">This year's package</h4>
    <p>
        Our speaker package for this year's event includes:
    </p>
    <ul>
        <li>Full conference pass</li>
	<li>2 complimentary hotel nights</li>
        <li>Lunch, receptions and activities included in regular conference</li>
	<li>Travel expenses are <em>not</em> covered, but we may be able to help with costs - get in touch</li>
    </ul>
    <p>We encourage speakers from around the world to submit, but please bear in mind that we do not offer
        travel as part of the speaker package. If you are in need, we may be able to help on a case by case
        basis.
    </p>
    <h4 class="headline--alpha">Tips for Submission</h4>
    <p>
        We <i>strongly</i> encourage potential speakers to submit more than one talk on more than one topic. The
        more submissions you contribute, the more options you give us to pick you. Be sure your talk title and abstract
        define the exact topic you want to talk about and what you hope people will learn from the session.
    </p>
</div>
{% endblock %}
